.App {
  height: 80vh;
  padding: 5rem;
}

.Main-Container-Wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
  background: rgba(200, 200, 200, .3);
  border-radius: 2rem;
}

nav {
  grid-area: 1 / 1 / 9 / 3; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.Routes {
  grid-area: 1 / 3 / 9 / 9; 
  display: flex;
  flex-direction: column;
  text-align: center;
}