.App {
  height: 91vh;
  padding: 3rem;
  /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) ,url(./bubble.jpg); */
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)) , url(./light2.jpg);
  background-size: cover;
  background-position: center;
  /* background: linear-gradient(220deg, rgba(28, 52, 31, 1), rgba(0, 0, 0, 1), rgba(28, 52, 31, 1)); */
  /* background-position: -15rem; */
  margin: 0 auto;
}

body {
  margin: 0;
}

.Main-Container-Wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.115);
  display: flex;
  border-radius: 2rem;
  backdrop-filter: blur(20px);
  color: white;
  transition: 1s;
}

.lightModeApp {
  background: rgb(255, 255, 255);
  background: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)) , url(./light2.jpg);
  background-size: cover;
  background-position: center;
}

.lightModeMain {
  color: rgb(55, 55, 55);
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(20px);
}

.lightModeNav {
  border-right: 0.3px solid rgba(0, 0, 0, 0.402);
}

.lightModeBorder {
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.502);
  margin: 0 1rem;
}

.modeSwitch {
  margin: 0 0 .5rem 0;
  padding: .3rem .5rem;
  border-radius: 100%;
}

.modeSwitchLight {
  background: linear-gradient(100deg, rgba(100,100,100,.8), rgba(0,0,0,.8));
}

.LightMode-wrapper {
  display: flex;
  width: 90%;
}

nav {
  grid-area: 1 / 1 / 9 / 3; 
  display: grid;
  grid-template-rows: 1fr .05fr 3fr;
  border-right: .3px solid rgba(255, 255, 255, 0.254);
}


.Routes {
  grid-area: 1 / 3 / 9 / 9; 
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.Routes::-webkit-scrollbar {
  display: none;
}

.Border-line {
  border-bottom: .3px solid rgba(255, 255, 255, 0.254);
  margin: 0 1rem;
}


.Avatar-info-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  line-height: 3rem;
}

.Avatar {
  background: url(./Avatar2.png);
  min-height: 10rem;
  min-width: 10rem;
  background-size:cover;
  background-position: center;
  border-radius: 50%;
}

.border {
  border: 1px solid rgb(13, 255, 0);
}

.Routes-Wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.HomeHref, .AboutHref, .PortfolioHref, .ExperiencesHref, .ContactHref {
  transition: 1s;
}

.HomeHref {
  color: #FFF4CD;
}

.lightHome {
  color: #785e01;
  
}

.AboutHref {
  color: #F9D7D7;
}

.lightAbout {
  color: #6f2c2c;
}

.PortfolioHref {
  color: #D7FFF3;
}

.lightPortfolio {
  color: #017854;
}

.ExperiencesHref {
  color: #E6DAFF;
}

.lightExperiences {
  color: #321f5b;
 }
 
.ContactHref {
 color: #FF9595;
}

.lightContact {
  color: #a43333;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  text-align: center;
  padding: .5rem 4rem;
  border-radius: 2rem;
  border: .5px solid rgba(255, 255, 255, 0);
}

.currentPage {
  background: rgba(255, 255, 255, 0.6);
  transition: 500ms;
}

.nav-tags:hover {
  border: .5px solid white;
}

.name {
  font-size: 2rem;
}

.role {
  font-size: 1.2rem;
  color: rgb(200, 200, 200);
  transition: 1s;
}

.lightModeRole {
  color: rgb(50, 50, 50);
}

.Home-Info-Wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.Home-Info {
  width: 60%;
}

.HomeName {
  font-size: 2.5rem;
}

.paragraph {
  font-size: 2rem;
}

.ClickAbout {
  color: #F9D7D7;
  display: inline-block;
  font-style: italic;
  animation: pulse 5s infinite;
  transition: 1s;
}

.lightClickAbout {
  color: #672a2a;
}

.ClickAbout:hover {
  text-decoration: underline;
}

@keyframes pulse {
  0% {
    
  }
  50% {
    transform: scale(1.3);
  }
  100% {

  }
}

.About-Info-Wrapper {
  height: 100%;
  margin: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: auto;
}

.About-Info-Wrapper::-webkit-scrollbar {
  display: none;
} 

.ProfilePic-Wrapper {
  grid-area: 1 / 1 / 3 / 2; 
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.ProfilePic {
  background: url(./mypic1.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 38rem;
  max-width: 35rem;
  display: flex;
}


.AboutMe {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.Skills {
  grid-area: 2 / 2 / 3 / 3; 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.About-titles {
  font-size: 2rem;
  display:inline-block;
  margin: 1rem;
}

.Skills-Wrapper p {
  display: inline-block;
  margin: .5rem;
  background: rgba(200,200,200,.3);
  padding: .8rem;
  border-radius: 2rem;
}

.lightSkills p {
  display: inline-block;
  margin: .5rem;
  background: rgba(255, 255, 255, 0.682);
  padding: .8rem;
  border-radius: 2rem;
}

.AboutMe-Wrapper {
  margin: 0rem 1rem 0rem 2rem;
  line-height: 2rem;
}

.AboutMe-Wrapper p {
  font-size: 1.2rem;
  text-align: left;
  margin: 0 auto;
}

.Indent {
  margin-left: 2rem;
}

.message form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  line-height: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  width: 60%;
  max-width: 27rem;
  height: 60%;
  font-weight: bold;
  font-size: 1.3rem;
}

.darkForm {
  background: rgba(255, 255, 255, 0.154);
}

.lightForm {
  background: rgba(255, 255, 255, 0.6);
}

.message {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.popup {
  position: absolute;
  top: 19%;
  background: rgba(0, 0, 0, 0.954);;
  border-radius: 2rem;
  width: 45%;
  height: 55%;
  color: white;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fade 2s linear forwards;
  padding: 2rem;
  transition: 1s;
}

.lightPopup {
  color: black;
  background: rgba(249, 221, 255, 0.954);;
}

@keyframes fade {
  0% {
    opacity: 0%;
    border-radius: 100%;
  }
}

.popup h4 {
  font-size: 2rem;
}

.popup button {
  font-size: 1.2rem;
  padding: .8rem;
}

input, textarea {
  border-radius: .7rem;
  padding: .25rem;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

textarea {
  resize: none;
}

button {
  margin: 1rem 8rem 0 8rem;
  cursor: pointer;
  border-radius: .7rem;
  border: none;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  background: rgba(0, 255, 255, 0.5);
  font-weight: bold;
  color: white;
  padding: .3rem;
  font-size: 1.2rem;
  transition: 1s;
}

.lightBtn {
  background: rgba(38, 136, 136, 0.5);
}

button:hover {
  opacity: 70%;
}

.contact-icons {
  display: flex;
  height: 8vh;
  align-items: center;
  justify-content: space-around;
  background: rgba(203, 206, 234, 0.158);
  border-radius: 2rem;
  width: 50%;
  max-width: 32rem;
  transition: 1s;
}

.lightContact-icons {
  background: rgba(255, 255, 255, 0.6);
}

.github {
  background: rgb(255, 255, 255) url(./github.svg);
}

.linkedin {
  background: rgb(255, 255, 255) url(./linkedin.svg);
}

.email {
  background: url(./email.svg);
}

.github, .linkedin{
  background-size: cover;
  border-radius: 1rem;
  height: 3rem;
  width: 3rem;
}

.email {
  height: 3rem;
  width: 3rem;
  background-color: rgba(235, 199, 247, 0.513);
  border-radius: 1rem;
}

.contact-icons a {
  padding: .3rem;
}

.contact-icons a:hover {
  opacity:50%;
}

.admin-btn {
  display: flex;
  flex-direction: column;
}

.admin-btn a:hover {
  color: rgb(255, 230, 0);
}

.second-main {
  width: 100%;
}

main h1 {
  display: flex;
  justify-content: center;
}

.message-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
  padding: 2rem;
  height: 70%;
  overflow: auto;
}

.message-info-wrapper {
  background: rgba(200, 200, 200, .2);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 11rem;
  line-height: 2rem;
  padding: .5rem 1rem 1.5rem 1rem;
  overflow: auto;
}

.light-message-wrapper {
  background: rgb(255, 255, 255, .9);
}

.message-info-wrapper::-webkit-scrollbar, .message-wrapper::-webkit-scrollbar {
  display: none;
}

.date {
  display: flex;
  width: 100%;
  text-align: left;
  font-style: italic;
  color: rgb(255, 98, 0);
}

.delete-btn {
  background: none;
  box-shadow: none;
  color: red;
  margin: 0 auto;
}

.mark-read-btn {
  background: none;
  box-shadow: none;
  margin: 0 auto;
  opacity: 30%;
}

.one-line {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
}

.new-messages {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(219, 49, 49);
}

.admin-text:visited {
  color: rgb(255, 0, 212);
}

.logout-text:visited {
  color: white;
}

.myMessages {
  text-align: center;
  color: yellow;
}

.form-container-wrapper {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-evenly;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: center
}

.form-container form {
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 2rem;
  background: rgba(255, 255, 255, 0.154);
  border-radius: 2rem;
  padding: 5rem 3rem;
}

.Experience-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 1rem;
  border-radius: 2rem;
  margin: 2rem;
  background: rgba(255, 255, 255, 0.1);
}

.lightExperience-wrapper {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.200), rgba(255, 255, 255, 0.500) );
}

.Experience-wrapper::-webkit-scrollbar {
  display: none;
}

.Yilan-wrapper, .Volunteer-wrapper, .OTN-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 1.5rem 3rem;
}

.Yilan-img {
  background-image: url(./Yilan.jpg);
}

.Yilan-info, .Volunteer-info, .OTN-info {
  width: 40%;
  font-size: 1.2rem;
}

.Volunteer-img {
  background: url(./Volunteer.jpg);
}

.OTN-img {
  background: url(./OTN.jpg);
}

.Yilan-img, .Volunteer-img, .OTN-img {
  background-size: cover;
  background-position: center;
  height: 15rem;
  width: 22rem;
  max-width: 35rem;
  border-radius: 2rem;
}

.Projects-wrapper {
  display: flex;
  flex-direction: column;
}

.timeSup-wrapper, .foodscovery-wrapper {
  background: rgba(255, 255, 255, 0.1);
  margin: 3rem 6rem;
  padding: 0 2rem 2rem 2rem;
  border-radius: 2rem;
  overflow: auto;
}

.timeSup-wrapper::-webkit-scrollbar, .foodscovery-wrapper::-webkit-scrollbar {
  display: none;
}

.slide-container {
  width: 650px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.image-container {
  width: 2100px;
  height: 450px;
  position: relative;
  transition: left 2s;
  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  left: 0px;
}

.slider-image {
  float: left;
  padding: 0px;
  border-radius: .5rem;
  opacity: 20%;
  transform: scale(.7);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.12);
  transition: 2s;
}

.selected-image {
  opacity: 100%;
  transform: scale(1);
}

.button-container {
  top: 3px;
  position: relative;
}

.slider-button {
  display: inline-block;
  height: 10px;
  width: 10px;
  padding: 0px;
  margin: 5px;
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  opacity: 50%;
}

#slider-image-1:target ~ .image-container {
  left: 0px;
}

#slider-image-2:target ~ .image-container {
  left: -650px;
}

#slider-image-3:target ~ .image-container {
  left: -1300px;
}

#slider-image-4:target ~ .image-container {
  left: 0px;
}

#slider-image-5:target ~ .image-container {
  left: -650px;
}

#slider-image-6:target ~ .image-container {
  left: -1300px;
}

.selected {
  opacity: 100%;
}

@media only screen and (max-width: 1280px), screen and (max-height: 650px) {
  .About-Info-Wrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .About-Info-Wrapper::-webkit-scrollbar {
    display: none;
  }
  nav {
    position: fixed;
    left: 1rem;
    top: 1rem;
    overflow: hidden;
    height: 2%;
    width: 5%;
    border-top: 3px solid white;
    border-bottom: 3px solid white;
    border-right: none;
    transition: 1s;
    color: white;
  }
  nav:hover {
    background: rgba(1, 0, 38, .95);
    left: 0;
    top: 0;
    border: none;
    border-radius: 2rem;
    margin: 0 auto;
    height: 90vh;
    width: 32vw;
    z-index: 2;
  }
  .App {
    padding: 2rem;
    height: 90vh;
  }
  .ProfilePic-Wrapper {
    height: 60vh;
    align-items: center;
  }
  .ProfilePic {
    width: 60vw;
  }
  .contact-icons {
    border-radius: 2rem;
    width: 50%;
  }
  .message form {
    width: 60%;
    height: 65%;
  }
  .message-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem;
    overflow: auto;
  }
  .popup {
    top: 16.2%;
    width: 60%;
    height: 65%;
    padding: 1rem;
  }
  .Experience-wrapper {
    justify-content: flex-start;
  }
  .Yilan-wrapper, .Volunteer-wrapper, .OTN-wrapper {
    display: flex;
    flex-direction: column;
    padding: 2rem;
  }
  .Volunteer-wrapper {
    flex-direction: column-reverse;
  }
  .Yilan-info, .Volunteer-info, .OTN-info {
    width: 80%;
    font-size: 1.1rem;
  }
  .Yilan-img, .Volunteer-img, .OTN-img {
    background-size: cover;
    background-position: center;
    height: 28rem;
    width: 80%;
    border-radius: 2rem;
  }
  .lightModeNav {
    border-right: none;
  }
  .role {
    color: white;
  }
  .LightMode-wrapper {
    justify-content: flex-end;
  }
}


@media only screen and (max-height: 700px) {
  .github, .linkedin, .email {
    height: 2.5rem;
    width: 2.5rem;
  }
  nav::-webkit-scrollbar {
    display: none;
  }
}


@media only screen and (max-height: 1044px) {
   .Experience-wrapper {
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 700px) {
  nav {
    height: 2.5%;
    width: 8%;
  }
  .App {
    padding: 1.5rem;
    height: 90vh;
  }
  .Home-Info-Wrapper {
    height: 90vh;
  }
  .Home-Info {
    width: 95%;
  }
  .ClickAbout {
    padding: 0px 2rem;
  }
  .About-Info-Wrapper {
    margin: 0 auto;
  }
  nav:hover {
    width: 65vw;
    height: 90vh;
  }
  a {
    padding: .3rem 4rem;
  }
  .message form {
    width: 80%;
    max-width: 25rem;
    height: 65%;
  }
  .github, .linkedin, .email {
    height: 2.5rem;
    width: 2.5rem;
  }
  .message-wrapper {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 3rem;
    padding: 2rem;
    overflow: auto;
  }
  .popup {
    top: 16.5%;
    width: 80%;
    height: 65%;
    padding: 1rem;
  }
  .ProfilePic {
    margin-top: 1rem;
    height: 20rem;
    width: 18rem;
  }
  button {
    margin: 1rem 4rem 0 4rem;
  }
  .Yilan-info, .Volunteer-info, .OTN-info {
    width: 100%;
    font-size: 1.1rem;
  }
  .Yilan-img, .Volunteer-img, .OTN-img {
    background-size: cover;
    background-position: center;
    height: 15rem;
    border-radius: 2rem;
  }
  .Experience-wrapper {
    padding: 0;
    margin: 0;
  }
  .Yilan-wrapper, .Volunteer-wrapper, .OTN-wrapper {
    padding: 1rem;
  }
  .contact-icons {
    width: 100%;
  }
}
